<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.SalesInventory">

    <application
    android:name=".Module"
    android:allowBackup="true"
    android:icon="@drawable/logo"
    android:label="Sales &amp; Inventory"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.SalesInventory">

    <activity
        android:name=".FirstActivity"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".WaitingVerification"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".SignIn"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Signup"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".resetPassWord"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Conditions"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Dashboard"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Profile"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".EditProfil"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".SellList"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".sellProduct"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Reports"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".Inventory"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".AddProduct"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".DeleteProduct"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".EditProduct"
        android:windowSoftInputMode="adjustResize" />

    <activity
        android:name=".History"
        android:windowSoftInputMode="adjustResize" />

</application>
</manifest>