<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.SalesInventory">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".SalesInventoryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="Sales &amp; Inventory"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        tools:replace="android:label,android:icon,android:allowBackup,android:roundIcon,android:theme">

        <activity
            android:name=".FirstActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CategoryManagementActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".DeliveryReportActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".InventoryReportsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".ReceivingReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".DeleteProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".LowStockItemsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".StockAdjustmentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".History"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".AdjustmentHistoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".StockAlertsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".AdjustmentSummaryReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".StockMovementReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".StockValueReportActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".NearExpiryItemsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".AdminStaffList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".WaitingVerificationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".resetPassWord"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Conditions"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".EditProfil"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".EditProduct"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".SellList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".sellProduct"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Inventory"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".DeleteProduct"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".AdminCreateStaffsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".PurchaseOrderListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".CreatePurchaseOrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".PurchaseOrderDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".BatchStockOperationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".StaffInventoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".Reports"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>